*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Condensed', sans-serif;
}

img{
    width: 100%;
}

.container{
    width: 70%;
    margin: auto;
    position: relative; 
 
}