footer{
    height: 1000px;
    width: 100%;
    padding-top: 100px;
    background-image: url('../img/footer-background-scaled.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-position-x: 0px;

    .container-footer{
        width: 80%;
        margin: auto;

        .container-menu-footer{
            @include flex;

            .menu-footer{
                list-style-type: none;
                color: $nav_text_color;

                li:first-child {
                    text-transform: uppercase;
                    margin-bottom: 30px;

                    &:hover{
                        color: $nav_text_color;
                    }

                }
                li{
                    margin-bottom: 20px;

                    &:hover{
                        color: $hover_color;
                    }
                }
            }
        }
       
    }
}