@mixin button-style {
    color: $nav_text_color;
    background-color: $button_color;
    padding: 7px 13px;
    text-transform: uppercase;
    border: 1px solid $button_color;
    border-radius: 50px;
    margin: 15px 0;

    i{
        margin-left: 5px;
    }
}

@mixin menu-info{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

    li{
        width: calc ( 100% / 4 );
        align-self: center;
        
    }
}

@mixin flex-photo{
    display: flex;
    justify-content: center;
}